.wrap-loading {
  position: absolute;
  background: white;
  z-index: 99;
  width: 100%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  flex: 1 1 1e-9px;
}
