<div class="content">
  <div class="left-content">izquierda</div>
  <div class="right-content">
    <!-- INDICATOR 1 -->
    <app-indicator
      [value]="totalUser"
      title="Número de Usuarios"
    ></app-indicator>
    <!-- /INDICATOR 1 -->

    <!-- INDICATOR 2 -->
    <app-indicator
      [value]="totalPosts"
      title="Usuario con Mayor N° Post"
    ></app-indicator>
    <!-- /INDICATOR 2 -->

    <!-- INDICATOR 3 -->
    <app-indicator title="usuario con mayor todos"></app-indicator>
    <!-- /INDICATOR 3 -->
  </div>
</div>
